.search-area {
    padding: 20px 0;
}

.search-area .input-group {
    background: #ddd;
    padding: 20px 40px;
}


/* User basic info */
.user-info {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
}

.user-info div:first-child {
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

.user-info div:last-child {
    padding: 10px 20px;
}

.user-info img {
    width: 80%;
}


/* repo list*/

.repo-list {
    padding-top: 40px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.thumbnail p.language {
    padding-top: 0;
    color: #666;
}

.badge {
    font-size: 50%;
}